
#main { width:1000px; margin:0 auto; }

.hidden { display:none; }
.invisible { visibility: hidden; }

.nav-tabs { margin-bottom:15px; }
.nav-tabs .actions { margin-top:15px; }

.drag-files-container { height:200px; border:solid 2px #888; }
textarea.js-input { width:840px; height:250px; margin-right:10px; }

div.output-details { display:inline-block; width:290px; height:250px; background-color:#efefef; vertical-align:top; }