
#main { width:1000px; margin:0 auto; }

.hidden { display:none; }
.invisible { visibility: hidden; }

.nav-tabs { margin-bottom:15px; }
.nav-tabs .actions { margin-top:15px; }

.drag-files-container {
    height:250px; width:840px;
    margin-right:10px; border:solid 2px #a8a8a8;
    display:inline-block; position:relative;
}
.drag-files-container .status-bar {
    position:absolute; bottom:0; width:100%;
    border-top:solid 1px #a8a8a8;
    background-color:#efefef;
    height:40px; padding:0 10px;
}
.drag-files-container .status-bar .progress-container {
    display:inline-block; height:30px; padding-top:10px;
}
.drag-files-container span.placeholder {
    width:100%; margin-top:80px;
    text-align:center; display:inline-block;
    color:#d8d8d8; font-size:36px;
    font-weight:bold;
}
.drag-files-container span.placeholder .small { font-size:14px; font-weight:normal; }
.drag-files-container .file-container { position:relative; background-image:url('js-file.png'); background-size:75px; background-repeat:no-repeat; width:100px; height:100px; display:inline-block; margin:16px; }
.drag-files-container .filename { position:absolute; width:100%; bottom:0; font-size:12px; }
.drag-files-container .delete { position:absolute; top:0; right:0; cursor:pointer; background-color:red; padding:3px; border-radius:10px; color:#fff; font-weight:bold; font-size:11px; width:18px; text-align:center; }

textarea.js-input { width:840px; height:250px; margin-right:10px; }

div.output-details { display:inline-block; width:290px; height:250px; background-color:#efefef; vertical-align:top; padding:10px; }
div.output-details .title { color:#428bca; font-weight:bold; font-size:16px; border-bottom:solid 1px #428bca; margin-bottom:10px; }
div.output-details .label { padding:0; color:#000; font-weight:bold; font-size:12px; }
div.output-details .value { color:#000; font-size:12px; }
div.output-details .compressor { font-weight:bold; margin-top:10px; }