extends layout

block head

block body

	inpupt#page-hash(type='hidden', value='#{pageHash}')

	div#main

		h1 JS Compress
		h2 The online javascript compressor

		div.container
			ul.nav.nav-tabs
				li.files-tab
					a(href='#') Files
				li.text-tab.active
					a(href='#') Text

			div.files-tab-container.hidden
				div.drag-files-container#holder
					span.placeholder
						| Drag files here to upload...
						div.small Files will be compressed and combined to a single file in the order they appear here
					p#upload.hidden
						label
							| Drag & drop not supported, but you can still upload via this input field:
							br
							input(type="file")
					p#filereader File API & FileReader API not supported
					p#formdata XHR2's FormData is not supported
					p#progress XHR2's upload progress isn't supported
					div.status-bar
						div.progress-container
							| Upload progress:
							div.progress
								div.progress-bar.progress-bar-info(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
						div.files-count-container
							| Files :
							span.files-count 0
						div.clear-all-area
							a.clear-all(href='#', onclick='clearAll()') Clear

				div.output-details
					div.title Output Details
					div.output

			div.text-tab-container
				textarea#js-input.js-input(name='js-input', placeholder='Paste your javascript code here...')
				div.output-details
					div.title Output Details
					div.output


			div.actions
				div
					span Choose a compressor :
					span.compressor-choice
						input#compressor-yui.compressor-yui(type='radio', name='compressor-type', value='yui-compressor')
						label(for='compressor-yui') YUI Compressor
					span.compressor-choice
						input#compressor-jsmin.compressor-jsmin(type='radio', name='compressor-type', value='jsmin-compressor')
						label(for='compressor-jsmin') JSMin
					span.compressor-choice
						input#compressor-all.compressor-all(type='radio', name='compressor-type', value='all-compressor', checked='checked')
						label(for='compressor-all') Check them all!
				button#compress-js-button.btn.btn-primary(type='submit') COMPRESS JS

			div.explanation.
				Here will be a thorough explanation of how to use this system
