extends layout

block head

block body

	div#main

		h1 JS Compress
		h2 The online javascript compressor

		div.container
			ul.nav.nav-tabs
				li.active
					a(href='http://www.google.com') Files
				li
					a(href='http://www.yahoo.com') Text

			div.explanation.
				Here will be a thorough explanation of how to use this system 
