doctype html
html
	head
		title JS Compress - The best online multiple javascript compression utility

		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet')
		link(href='main.css?v=1',rel='stylesheet')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
		script(src='utils.js?v=1')
		script(src='main.js?v=1')

		meta(name='keywords', content='Javascript, Javascript Compression, Minify, Javascript Minifier, minifier, website performance, performance')
		meta(name='description', content='Minify your javascript files online with multiple compressors to see which one gives the best results. This is the best online javascript minifier available.')

		block head

	body

		block body

		script(src='file-upload.js?v=1')
		script(type='text/javascript').
			$(function() {
				$('.info-tooltip').tooltip();
			});
		include googleAnalytics
