doctype 5
html
	head
		title JS Compress

		meta(name='description', content='We, humanity, wasted TOO much time watching these youtube videos instead of doing more useful productive stuff')

		link(href='main.css',rel='stylesheet')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='main.js?v=1')

		block head

	body
	
		block body

		include googleAnalytics