doctype html
html
	head
		title JS Compress

		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet')
		link(href='main.css',rel='stylesheet')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
		script(src='utils.js?v=1')
		script(src='main.js?v=1')

		block head

	body

		block body

		script(src='file-upload.js?v=1')
		include googleAnalytics
